.App {
  text-align: center;
}

.wiki {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wikibutton {
  color: #61dafb;
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.wikibutton:hover {
  color: #b4efff;
  font-weight: bold;
}